@import 'compass';
@import 'normalize';
@import 'boilbefore';
@import 'variables';
@import 'mixins';
@import 'base';
@import 'boilafter';

html {
	height: 100%;
	overflow: hidden;
}

.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
}

.parallaxLayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.group {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  //border-bottom: 3px solid #fff;
  transform-style: inherit;
  background: 50% 50% / cover;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  overflow: none;
}

.group:before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: 50% 50% / cover;
}

/*base styles*/

.base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0) scale(1);
  z-index: 5;
}

.base2 {
  -webkit-transform: translateZ(-50px) scale(1);
  transform: translateZ(-50px) scale(1);
  z-index: 6;
}

.base3 {
	-webkit-transform: translateZ(-120px) scale(1.4);
	transform: translateZ(-120px) scale(1.4);
	z-index: 7;
 }

/*group styles*/


/* slide over group 2 */
#group1 {
  z-index: 8;
}

#group1 {
	.base {
  		background: #000000;
  	}
}

/* slide under groups 1 and 3 */
#group2 {
  z-index: 7;
}

#group2, #group3, #group4 {
	.base {
  		background: url('../img/background.png') 50% 50% no-repeat;
  		background-size: cover;
  	}
  	.base2 {
  		background: url('../img/starssmall.png') 50% 50% no-repeat;
  		background-size: cover;
  		opacity: 1;
  	}
  	.base3 {
  		background: url('../img/starslarge.png') 50% 50% no-repeat;
  		background-size: cover;
  	}
}


/* slide over group 2*/
#group3 {
  z-index: 6; 
}

#group3 {
	.base4 {
  		background: url('../img/neptune.png') 50% 50% no-repeat;
  		//background-size: cover;
  		-webkit-transform: translateZ(-200px) scale(.9);
  		transform: translateZ(-200px) scale(.9);
  		z-index: 7;
  		left:-100%;
	}
	.base5 {
		background: url('../img/uranus.png') 50% 50% no-repeat;
		//background-size: cover;
		-webkit-transform: translateZ(-300px) scale(1);
  		transform: translateZ(-300px) scale(1);
  		z-index: 6;
  		left:-40%;
	}
	figure {
		//left:-80%;
		//transform: translateZ(-300px) scale(.9);
	}
	border-bottom:1px solid #fff;
}

#group4 {
	z-index: 7;
}

/*content styles*/

figure {
    width: 100%;
    left: 80%;
    bottom: 0%;
    transform: translateZ(-2000px) scale(2);
    position: absolute;
    z-index: 999;
}

.title {
  text-align: center;
  position: absolute;
  left: 40%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1 {
  color: white;
  font-size: 80px;
  font-family: serif;
  text-align: center;
  position: absolute;
  z-index: 999;
  //border:1px solid #fff;
  width: 100%;
}

p {
  font-size: 20px;
  color: white;
  font-family: sans-serif;
  line-height: 40px;
  padding: 20px;
  width: 40%;
  left: 10%;
  bottom: 40%;
  background: rgba(0, 10, 10, 0.4);
  border-radius: 25px;
  transform: translateZ(100px) scale(0.6);
  position: absolute;
  z-index: 999;
}



img {
  width: 100%;
}
